<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Email field validation">
    <test name="Empty email test">
        <parameter name="email" value=""/>
        <parameter name="expectedMessage" value="Please enter your email address."/>
        <classes>
            <class name="tests.RegistrationTest">
                <methods>
                    <include name="FirstTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>